@font-face {
    font-family: "TTNorms";
    src: url("font/TTNorms-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms";
    src: url("font/TTNorms-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms";
    src: url("font/TTNorms-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    --white: #ffffff;
    --glass: #f2f0fa;
    --light: #f7fcfc;
    --dark: #171717;
    --purple-light: #9526c0;
    --purple-dark: #5a205a;
    --gradient: linear-gradient(10deg, #5a205a 0%, #9526c0 100%);
    --shadow: 0 5px 25px #17171710;
    --border: 1px solid var(--glass);
    --text15: 15px;
    --text18: 18px;
    --text22: 22px;
    --text26: 26px;
    --text30: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TTNorms", sans-serif;
    text-decoration: none;
}

body {
    background: var(--light);
    font-size: 15px;
    color: var(--light);
}